@font-face {
  font-family: Sodo Sans Reg;
  src: url('../fonts/sodosans-regular.ttf');
}

@font-face {
  font-family: Sodo Sans Bold;
  src: url('../fonts/sodosans-bold.ttf');
}

@font-face {
  font-family: Sodo Sans Light;
  src: url('../fonts/sodosans-light.ttf');
}

@font-face {
  font-family: Helvetica Neue;
  src: url('../fonts/helveticaneue.ttf');
}